{% macro confirmation_form() %}
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
                <div class="booking-form">
                    <form method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="form-label">Nome/s</span>
                                    <input class="form-control" type="text"  name="name" placeholder="Nome/s">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="form-label">Restrição alimentar ?</span>
                                    <select id="foodRestriction" class="form-control" for="foodRestriction" onchange="FoodRestrictionsInput()" name="has_food_restriction" >
                                        <option value="False">Não</option>
                                        <option value="True">Sim</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="food_restriction" style="display: none;">
                                    <span class="form-label">Qual?</span>
                                    <input class="form-control" type="text" name="food_restriction" placeholder="Restrições alimentares">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" for="is_vegetarian" id="is_vegetarian">
                                    <span class="form-label">Vegetariano ?</span>
                                    <select class="form-control" id="is_vegetarian" name="is_vegetarian">
                                        <option value="False">Não</option>
                                        <option value="True">Sim</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <span for="music" class="form-label">Escreve uma música que não pode faltar:</span>
                                <input type="text" class="form-control" name="music" >
                            </div> 
                        </div> 
                        <div class="row">  
                            <div class="col-md-12">
                                <span for="comment" class="form-label">Observações:</span>
                                <input type="text" class="form-control" name="comment" >
                            </div>    
                            
                        </div>
                        <div class="form-btn row">
                            <button class="submit-btn">Confirmar Presença</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
{% endmacro %}