{% macro contribution_form() %}
<div class="contribution-form">

<form method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" type="text"  name="name" placeholder="Nome/s">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" type="text"  name="value_to_contribute" placeholder="Valor com que quero contribuir">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <textarea class="form-control" type="text"  name="message" placeholder="Mensagem para os noivos..." cols="40" rows="5" ></textarea>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="transfer_type col-md-12 d-flex justify-content-center">
            <p class="mb-1">  
                IBAN: PT50 0045 8713 4035 1301 5262 9
            </p>
        </div>
        <br>
    </div>
    <div class="form-btn row m-2">
        <button class="submit-btn" id="contribute">Contribuir</button>
    </div>
</form>
</div>
{% endmacro %}