{% import 'macros/contributions.html' as contributions %}

{% macro card(product1, product2) %}
    <!--first section-->
    <div class="row align-items-center how-it-works d-flex">
        <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">
            {% if product1.priority != 20 %}
            <a href="{{url_for('products.product',product_id=product1.id)}}">
                <i class="fas fa-map-marker-alt" style="color:white"></i> 
            </a>
            {% else %}
            <a>
                <i class="fas fa-map-marker-alt" style="color:white"></i> 
            </a>
            {% endif %}

        </div>
        </div>
        <div class="col-6">
            <h5>
                {% if product1.priority != 20 %}
                <a href="{{url_for('products.product',product_id=product1.id)}}" style="color:black"><h5>{{product1.name}}</h5></a>
                {% else %}
                <a style="color:black"><h5>{{product1.name}}</h5></a>
                {% endif %}

            </h5>
            {% if product1.priority == 20 %}
            <p>{{product1.description}}</p>
            {% endif %}
        </div>
    </div>
    {% if product2.priority != 20 %}

    <!--path between 1-2-->
    <div class="row timeline">
        <div class="col-2">
        <div class="corner top-right"></div>
        </div>
        <div class="col-8">
        <hr/>
        </div>
        <div class="col-2">
        <div class="corner left-bottom"></div>
        </div>
    </div>
    <!--second section-->
    <div class="row align-items-center justify-content-end how-it-works d-flex">
        <div class="col-6 text-right">
            <h5>
                <a href="{{url_for('products.product',product_id=product2.id)}}" style="color:black"><h5>{{product2.name}}</h5></a>

            </h5>
        </div>
        <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">
            <a href="{{url_for('products.product',product_id=product2.id)}}">
                <i class="fas fa-map-marker-alt" style="color:white"></i> 
            </a>
        </div>
        </div>
    </div>
    <!--path between 2-3-->
    <div class="row timeline">
        <div class="col-2">
        <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
        <hr/>
        </div>
        <div class="col-2">
        <div class="corner top-left"></div>
        </div>
    </div>
    {% endif %}
{% endmacro %}