{% extends 'layout.html' %}
{% import 'macros/progress_bar.html' as progress_bar with context %}
{% import 'macros/contributions.html' as contributions with context %}

{% block content %}

<section class="py-5 contribution_background">
  <div class=" px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6">
            <img class="card-img-top mb-5 mb-md-0" src="{{url_for('static',filename=product.images[0].path)}}" alt="..." />
          </div>
          <div class="col-md-6">
              <h1 class="display-5 fw-bolder" style="color: #5086c1;">{{product.name}}</h1>
              {{contributions.contribution_form()}}

          </div>
      </div>
  </div>


</section>
{% endblock %}
