{% extends 'layout.html' %}

{% block content %}
<script src="{{ url_for('static', filename='js/confirmations.js')}}" defer></script>
<link href="{{ url_for('static', filename='style/base.css')}}" rel="stylesheet">

<div id="booking" class="section">
    <div class="section-center booking-form">
        <div class="container p-2">
            <div class="vh-100 d-flex justify-content-center align-items-center">
                <div class="col-md-4">
                    <div class="card p-1">
                        <div class="text-center">
                            <h1>Muito obrigada pela confirmação!</h1>
                            <p>Estamos muito contentes por podermos contar contigo neste dia tão importante!</p>
                            <a href="{{url_for('main.index')}}"><button class="submit-btn p-1">Voltar ao Inicio</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}