{% extends 'layout.html' %}
{% import 'macros/hotels.html' as hotels_macro with context %}


{% block content %}
<script src="{{ url_for('static', filename='js/index.js')}}" defer></script>
<link href="{{ url_for('static', filename='style/base.css')}}" rel="stylesheet">

<div class="faqs-page-container">

    <div class="faqs-header">
        <h1 class="lista-casamento-title">Onde Ficar?</h1>
        <div class="lista-casamento-intro">
            <p>Como sabem, festa é o nosso nome do meio e como queremos que se divirtam connosco, sem limites, deixamos sugestões de hotéis perto da quinta para que possam dormir descansados.</p>
                <p>Temos acordo com o <b>Hotel Fundador</b>  e vamos ter transporte gratuito durante a noite a fazer o trajeto quinta-hotel.                </p>
                <p>Recomendamos que escolham este hotel (temos uma pré-reserva de vários quartos), no entanto deixamos outras opções, caso vos faça sentido. </p>    
            </div>
    </div>
    <div class="row pt-2 pb-4">
        <!-- Card especial para pedido de reserva por formulário -->
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 d-flex align-items-stretch mb-4">
            <div class="post-slide hotel-card mb-4">
                <div class="post-content">
                    <h3 class="post-title mt-3">
                        Hotel Fundador
                    </h3>
                </div>
                <div class="post-content hotel-description">
                    <p class="m-4">
                        <b>Valor noite: </b> 62 - single; 74€ - duplo. A reserva do hotel é feita por nós (pagamento e fatura no momento de check in), por isso precisamos de alguns dados vossos. 
Quando a reserva estiver concluída, recebem confirmação por e-mail.
                    </p>
                </div>
                <div class="hotel-card-image">
                    <img src="{{ url_for('static', filename='images/hotels/hotel_fundador.jpg') }}" alt="Hotel Fundador">
                </div>
                <div class="hotel-card-actions">
                    <a href="{{ url_for('main.hotel_reservation') }}"
                       class="btn ml-4 mr-4 btn_contribuir d-flex justify-content-center">
                        Reservar
                    </a>
                </div>
            </div>
        </div>

        {% for hotel in hotels %}
        {{hotels_macro.hotel_card(hotel)}}
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}
