{% extends 'layout.html' %}

{% block content %}
<div class="container mb-6">


    <div class="admin-grid row">
        <div class="admin-section col">
            <h2>Criar</h2>
            <div class="admin-links">
                <a class="admin-link row" href="{{url_for('create.product')}}">Criar um novo produto</a>
                <a class="admin-link row" href="{{url_for('create.hotel')}}">Criar um novo hotel</a>
                <a class="admin-link row" href="{{url_for('create.faq')}}">Criar uma nova faq</a>
                <a class="admin-link row" href="{{url_for('create.category')}}">Criar uma nova categoria</a>
            </div>
        </div>

        <div class="admin-section col">
            <h2>Editar</h2>
            <div class="admin-links">
                <a class="admin-link row" href="{{url_for('edit.specific_info')}}">Editar informações no site</a>
                <a class="admin-link row" href="{{url_for('edit.products')}}">Editar produtos criados</a>
                <a class="admin-link row" href="{{url_for('edit.contributions')}}">Editar contribuições</a>
                <a class="admin-link row" href="{{url_for('edit.confirmations')}}">Editar confirmações</a>
                <a class="admin-link row" href="{{url_for('edit.hotels')}}">Editar hotéis</a>
                <a class="admin-link row" href="{{url_for('edit.faqs')}}">Editar FAQs</a>
                <a class="admin-link row" href="{{url_for('edit.categories')}}">Editar categorias</a>
            </div>
        </div>

        <div class="admin-section col ">
            <h2>Ver / Exportar</h2>
            <div class="admin-links">
                <a class="admin-link row" href="{{url_for('confirmations.all')}}">Ver todas as confirmações</a>
                <a class="admin-link row" href="{{url_for('contributions.all')}}">Ver todas as contribuições</a>
                <a class="admin-link row" href="{{url_for('edit.hotel_reservations')}}">Ver todas as reservas de hotel</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}